* {
    box-sizing: border-box;
}

body {
    background-color: #FFF8DC;
    margin: 0;
}

h1,
h2,
h3,
p {
    margin-block-end: 0px;
    margin-block-start: 0px;
}

.search-form {
    width: 100%;
    height: 60px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
}


input {
    width: 50%;
    height: 40px;
    align-items: center;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    padding-left: 10px;
    border-radius: 3px;
    border: solid 1px #800000;
    outline: none;
}

.results-wrapper {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
}

.search-btn {
    cursor: pointer;
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    color: #FFF8DC;
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
    background: #800000;
    outline: none;
}

.item-wrapper {
    border-radius: 7px;
    padding: 20px;
    border: 1px solid transparent;
}

.img-meal {
    width: 100%;
    border-radius: 5%;
    margin-bottom: 20px;
}

.meal-title {
    color: #800000;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
}

.meal-category {
    font-size: 18px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
}

.meal-country {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
}

.meal-instraction {
    text-align: justify;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
    .results-wrapper {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }

    .item-wrapper {
        width: calc((100% - 20px) / 2);
        margin-bottom: 0px;
    }
}

@media screen and (min-width: 1154px) {
    .item-wrapper {
        width: calc((100% - 40px) / 3)
    }
}